VideoX-Fun/examples/samples/
VideoX-Fun/datasets/internal_datasets/
VideoX-Fun/models/
VideoX-Fun/origin_test/
VideoX-Fun/scripts/wan2.1_fun/output_dir/
VideoX-Fun/scripts/wan2.1_fun/output_dir_save1/
VideoX-Fun/test/